body{
  background-image: url(../images/top_back.png);
  background-repeat: repeat;
  
}
/*--------------------------
 * webterakoya sections
 */

.wt-section-catch{
  height: 306px;
  padding: 60px 60px;
  margin: 0;
  
  h1{
   font-size: 31px;
   font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
   font-weight: bold;
   color: #4a4949;
   margin-bottom: 50px; 
  }
   
}


.wt-section-first{
  background-color:rgba(122,168,171,.8);
  height: 500px;
  padding: 30px 30px;
  margin: 0;

  h3{
    font-size: 18px;
    font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
    color: #ffffff;
    margin-bottom: 30px; 
    
  }
  
}

.wt-section-merit{
  height: 514px;
  padding: 0;
  
  
  
  .wt-merit-box{
  background-color: #ffffff;
  margin: 40px auto;
  padding: 70px 0;
  height: 419px;
  width: 917px;
  color: #dea653;
  font-size: 14px;
  
   h2{
    font-size: 24px;
    font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
    color: #dea653;
    margin-bottom: 50px; 
     }
    
    .wt-merit-item{
      height: 214px;
      width: 189px;
      margin: 0 auto;
    }
     
  }
  
  
}

.wt-section-wakaba{
  background-image: url(../images/top_back_green.png);
  background-repeat: repeat;
  height: 135px;
  line-height: 135px;
  font-size: 21px;
  font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
  color: #ffffff;
  padding: 0 0; 
}

.wt-section-kouza{  
  
  .wt-kouza-box{
  width: 678px;
  padding: 30px 0 30px 0;
  margin:  151px auto 52px auto;
  position: relative;
  
  　h3{
    font-size: 18px;
    text-shadow: 5px 5px 3px #ddd;
    letter-spacing: 0.2em;
    text-align:left;
    margin-bottom: 30px;
    padding-left: 15px;
    
    
    
  }
  
  
  .fukidashi{
    position: absolute;
    top: -120px;
    left: -55px;
    
       
  } 
  
   .wt-kouza-item{
    height: 185px;
    width: 155px;
    margin: 0 auto;
    font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 12px;
    }

  
 }

.wt-kouza-green{
  background-color: #ffffff;
  border: 4px solid #b4bd64;
  
   h3{
     color: #99a341;
     
   }
 }

.wt-kouza-orange{
  background-color: #ffffff;
  border: 4px solid #dea653;
 }


  
}


.wt-section-form{
  background-color: #7ed1c4;
  padding: 30px 30px;
  margin: 0;
  box-shadow: 0 5px rgba(100,100,100,0.4) inset;
  position: relative;
  
    .touroku-label{
    position: absolute;
    top: 0;
    right: 30px;
       
  } 

  
  
  h2{
   font-size: 24px;
   font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
   color: #ffffff;
   margin-bottom: 30px; 
  }

  
}



/*--------------------------
 * webterakoya buttons
 */
.wt-btn-regist1{
  border-radius:0px;
  background-color: #dea653;
  border-style: none;
  box-shadow: 1px 1px 2px rgba(100,100,100,.50); 
  color: #ffffff;
  width: 200px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  padding: 0;
  font-size: 18px;
  font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;

}


.wt-btn-regist2{
  border-radius:0px;
  background-color: #ffffff;
  border-style: none;
  box-shadow: 1px 1px 2px rgba(100,100,100,.50); 
  color: #7ed1c4;
  width: 200px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  padding: 0;
  font-size: 18px;
  font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;

}

.wt-btn-top{
  width: 162px;
  height: 34px;
  font-size: 13px;
  font-family: 'ヒラギノ角ゴ ProN W6','Hiragino Kaku Gothic ProN',Arial,Helvetica,sans-serif;
  line-height: 34px;
  padding: 0;
  border-style: none;

  
  
}

/*--------------------------
 * Tools
 */

.MB30{
  margin-bottom: 30px;
}
